@import url('https://fonts.googleapis.com/css2?family=Varta:wght@300;400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'varta', serif, sans-serif;
}

.bg{
   width: 100vw;
   height: 100dvh;

   display: flex;
   align-items: center;
   justify-content: center;
   background-color: black;
}
.container{
    width: 1152px;
    height: 720px;
    scale: 0.8;
    position: relative;
    background-image: url('../../assert/bg-cover.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: white;
}

.wrapHeading{
    margin: 20px 0 20px 2px;
    padding: 12px 0 12px 17px;
    border-width: 0 0 0 8px;
    border-style: solid;
    border-color: black;
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.wrapHeading > span{
    text-transform: uppercase;
    text-align: center;
}

.wrapDescription{
    margin: 12px 500px 10px 26px;
    overflow: hidden;
}
.wrapDescription > span{
    font-style: italic;
}
.sliderProducts{
    width: 100%;
    height: 80%;
    overflow: hidden;
}
.wrapContent{
    margin-top: 100px;
    margin-left: 105px;
    margin-right: 25px;
    transition: transform 0.5s ease;

    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
}
.wrapContent > div{
    width: 250px;
    height: 350px;
    transition: transform 0.4s ease;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.arrow{
    z-index: 1;
    padding: 0 10px;
    margin: 0px;
    top: 58%;
    position: absolute;
    transform: translateY(-50%);
    background: transparent;
    font-size: 34px;
    border: none;
    cursor: pointer;
}

.left{
    left: 0px;
}
.right{
    right: 0px;
}

.product {
    position: relative;
    border: 2px solid transparent;
    background-image: none;
    background-color: transparent;
}
.product:hover{
    transition: color 0.4s ease;
    color: rgb(194, 194, 194);
    transition: border-color 0.9s ease;
    border-color: black;
}
.productBg{
    background-image: url('../../assert/wheel-bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.productBorder{
    border-color: rgb(184, 182, 182);
}
.wrapImg{
    margin: 5px 0 0 0;
    width: 310px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.wrapImg > img{
    width: 50%;
    height: 80%;
}
.product > span{
    text-align: center;
}
.product > span:nth-of-type(1){
    margin-top: 15px;
    padding: 0 20px;
    font-size: 0.7rem;
    font-weight: bold;
}
.product > span:nth-of-type(2){
    padding: 0 10px;
    font-size: 0.8rem;
}
.product > span:nth-of-type(3){
    font-size: 0.8rem;
    font-weight: bold;
}